@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

body{
  background-image: linear-gradient(to right, #280085,#003c8a 10%, #003c8a 90%,#280085 100%);

}

div{
  display: flex;
  flex-direction: column;
}

h1 {
    color: #ffffff;
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 14px;
    font-size: 30px;
  }

  h2 {
    color: #ffffff;    
    padding-top: 13px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    font-size: medium;
  }

  p {
    margin: 0px;
    color: #ffffff;    
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px;    
  }

  i {
    margin: 0px;
    color: #ffffff;
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
    
  }