@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

body{
  background-color: #000000;
}
* {
  box-sizing: border-box;
}
div{
  display: flex;
  flex-direction: column;
}

h1 {
    color: #ffffff;
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 14px;
    font-size: 30px;
  }
  
  h2 {
    color: #ffffff;    
    padding-top: 13px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    font-size: 52px;
    margin-top: 0px;
  }

  p {
    margin: 0px;
    color: #ffffff;    
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px;    
  }

  i {
    margin: 0px;
    color: #ffffff;
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px ;
    
  }

  .backg {
    width: 100%;
    background-color: #08007a;
  }
